#!/usr/bin/env bash

# Go environment
# ===================

CACHE_PATH=".cache/gopath"
mkdir -p $CACHE_PATH
export GOPATH=$(realpath $CACHE_PATH)

# Local variables
# ===============
CURRENT_PATH=$(pwd)
REPO_NAME=$(basename $CURRENT_PATH)
REPO_HOST_PATH=$(realpath $CURRENT_PATH/..)
REPO_NODE_PATH="/srv/git"
REPO_URI="http://git-http-backend/git/${REPO_NAME}"
REPO_BRANCH=$(git branch --show-current)
K8S_VERSION="kindest/node:v1.24.7@sha256:577c630ce8e509131eab1aea12c022190978dd2f745aac5eb1fe65c0807eb315"
CERT_VALIDITY_DAYS=180

# Export as environment variables if not already defined
# ======================================================
export KKA_REPO_NAME=${KKA_REPO_NAME:-${REPO_NAME}}
export KKA_REPO_HOST_PATH=${KKA_REPO_HOST_PATH:-${REPO_HOST_PATH}}
export KKA_REPO_NODE_PATH=${KKA_REPO_NODE_PATH:-${REPO_NODE_PATH}}
export KKA_REPO_URI=${KKA_REPO_URI:-${REPO_URI}}
export KKA_REPO_BRANCH=${KKA_REPO_BRANCH:-${REPO_BRANCH}}
export KKA_K8S_VERSION=${KKA_K8S_VERSION:-${K8S_VERSION}}
export KKA_CERT_VALIDITY_DAYS=${KKA_CERT_VALIDITY_DAYS:-${CERT_VALIDITY_DAYS}}

# Required by MetalLB - https://kind.sigs.k8s.io/docs/user/loadbalancer/
# ======================================================================
if [ $(docker network ls -f "name=kind" -q) ]; then
KIND_NET_CIDR=$(docker network inspect -f '{{ (index .IPAM.Config 0).Subnet }}' kind)
METALLB_IP_START=$(echo ${KIND_NET_CIDR} | sed "s@0.0/16@255.200@")
METALLB_IP_END=$(echo ${KIND_NET_CIDR} | sed "s@0.0/16@255.209@")
export KKA_METALLB_CIDR="${METALLB_IP_START}-${METALLB_IP_END}"
fi

# Enable this flag if you want to just deploy the K8s cluster
# with MetalLB in place, to allow Loadbalancer services to work
# =============================================================
export KKA_DEPLOY_MINIMAL="${KKA_DEPLOY_MINIMAL:-false}"

# Control which addons we might want to exclude from default deployment,
# if KKA_DEPLOY_MINIMAL == false
# ======================================================================
# Istio
export KKA_AOA_EXCLUDE_ISTIO="${KKA_AOA_EXCLUDE_ISTIO:-false}"
# Knative depends on Istio by default, if we exclude it we exclude Knative as well
if [ "${KKA_AOA_EXCLUDE_ISTIO}" = "true" ]; then
export KKA_AOA_EXCLUDE_KNATIVE="true"
else
export KKA_AOA_EXCLUDE_KNATIVE="${KKA_AOA_EXCLUDE_KNATIVE:-false}"
fi
# Prometheus + Grafana stack
export KKA_AOA_EXCLUDE_PROMETHEUSSTACK="${KKA_AOA_EXCLUDE_PROMETHEUSSTACK:-false}"
# Dex
export KKA_AOA_EXCLUDE_DEX="${KKA_AOA_EXCLUDE_DEX:-false}"
# OpenTelemetry
export KKA_AOA_EXCLUDE_OPENTELEMETRY="${KKA_AOA_EXCLUDE_OPENTELEMETRY:-false}"
